body {
  background: #404040;
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display:flex;
  color: #FFFFFF;
  font-weight:bold!important;
  font-family: 'Roboto';
}

.ProjectInput {
  width: 64em;
  margin:auto;
  margin-bottom: 2em;
  border: solid 1px;
  border-radius: 8px;
  padding: 1em;
}

.MuiFormLabel-root {
  color:#88CC88!important;
}

.MuiInputBase-root {
  color:#FFFFFF!important;
}

.ProjectInputTextField {
  margin: 1em!important;
  width: 30em;
  dispay:block;
}

.ModuleControls {
  width: 30em;
  border: solid 1px #808080;
  border-radius: 8px;
  padding: 2em;
  display:block;
  margin:auto;
  margin-bottom: 2em;
  width: 60em;
}

.ModuleVariable {
  width: 20em;
  margin: 2em!important;
}

.ModuleList {
  width: 64em;
  margin: auto;
  margin-bottom: 2em;
  border:solid 1px;
  border-radius: 8px;
  padding: 1em;
}

.ModuleTitle {}
