body {
  background: #404040;
}
.App {
  padding-top:3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display:flex;
  color: #FFFFFF;
  font-weight:bold;
  font-family: sans-serif;
}

.AppTitle {
  font-size:48pt;
  margin-bottom:0.5em;
}

.ProjectInput {
  width: 64em;
  margin:auto;
  margin-bottom: 2em;
  border: solid 1px;
  border-radius: 8px;
  padding: 1em;
  background: #505050;
}

.GreenButton {
  background: #88CC88!important;
  margin:2em!important;
}

.MuiFormLabel-root {
  color:#FFFFFF!important;
  font-weight:bold!important;
}

.MuiInputBase-root {
  color:#FFFFFF!important;
}

.ProjectInputTextField {
  margin: 1em!important;
  width: 30em;
  dispay:block;
}

.ModuleControls {
  width: 30em;
  border: solid 1px #808080;
  border-radius: 8px;
  padding: 2em;
  display:block;
  margin:auto;
  margin-bottom: 2em;
  width: 60em;
  background:#606060;
}

.ModuleVariable {
  width: 20em;
  margin: 2em!important;
}

.ModuleList {
  width: 64em;
  margin: auto;
  margin-bottom: 2em;
  border:solid 1px;
  border-radius: 8px;
  padding: 1em;
  background:#505050;

}

.ModuleTitle {}
